<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Создай нового Юзера</h2>
<br>
<br>

<form th:method="POST" th:action="@{/admin}" th:object="${user}" accept-charset="UTF-8">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Фамилия: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="username">Логин: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <input type="submit" value="Создать!"/>
</form>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>